<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello you are logged in.</h1>
    <ul>
        {% for zip in zipuri %}
        <li> Zip name : {{zip.zip_name}}<a href="/download/{{zip.zip_name}}/{{ zip._id }}" download> Press to download: {{ zip.zip_name }}</a></li>
        {% endfor %}
    </ul>
    <form method="post" action="/create" enctype="multipart/form-data">
        <input type="text" name="languageInput" required placeholder="language input">
        <input type="text" name="languageOutput" required placeholder="language output">
        <input type="file" name="zip">
        <input type="submit">
    </form>
    <br>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>
</html>